.card.float-left.mt-3.mb-0{ id: "#{unique_dom_id(f)}_add_question",
  class: "#{collapse ? 'collapse' : '' }" }
  .card-body.pr-4
    .card-title
      .actions.mr-0
        = link_to "##{unique_dom_id(f)}_add_question",
          class: 'btn btn-secondary btn-sm',
          data: { toggle: 'collapse' }, 'aria-expanded': 'false',
          'aria-controls': "#{unique_dom_id(f)}_add_question" do
          = icon 'fas', 'times'
    .row
      - ['string', 'text', 'content', 'boolean', 'address', 'select',
        'checkboxes', 'radio', 'multiselect'].each do |type|
        .col-lg-3.col-md-4.pt-4{ id: "#{unique_dom_id(f)}_question_#{type}" }
          = render 'question_type', f: f, type: type,
            association: association, dependency_enabled: dependency_enabled,
            selector: selector, insert_method: insert_method
