= fc.input_field :id, as: 'hidden'
.input-group.mb-3
  = fc.input_field :label, class: 'form-control'
  .input-group-append
    = link_to '#', title: 'delete', class: 'btn btn-light bg-white' do
      = icon 'fas', 'times'
    = link_to 'Add Dependency', '#', title: 'delete',
      class: 'btn btn-info text-white'
