.choice.nested-fields{ id: f.object.sortable_id,
  data: { 'object-id': "choice_#{f.object.object_id}" } }
  = f.input_field :id, as: 'hidden'
  .input-group.mb-3
    .input-group-prepend
      .btn.text-muted.bg-white.handle
        = icon 'fas', 'grip-horizontal'
    = f.input_field :label, class: 'form-control'
    .input-group-append
      = link_to_remove_association f, { title: 'delete',
        class: 'btn text-muted bg-white' } do
        = icon 'fas', 'times'
      - if dependency_enabled
        = link_to_add_association 'Add Dependency', f.options[:parent_builder],
          :question_dependency, title: 'Add Dependency',
          class: 'btn btn-primary text-white',
          data: { 'association-insertion-node': "[data-object-id='choice_#{f.object.object_id}']",
          'association-insertion-method': 'after' },
          disabled: f.object.question_dependency_id.present?,
          render_options: { locals: { dependency_enabled: dependency_enabled }}
  .question_dependency_container
