= form_for [:admin, @form] do |f|
  - if @form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@form.errors.count, "error")} prohibited this admin_form from being saved:"
      %ul
        - @form.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :description
    = f.text_area :description, size: "60x12", class: "form-control"

  .actions
    = f.submit 'Save'
