= minimal_form_for [:admin, @form] do |f|
  - if @form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@form.errors.count, "error")} prohibited this admin_form from being saved:"
      %ul
        - @form.errors.full_messages.each do |message|
          %li= message

  = f.input :name
  = f.input :description
  %h4 Sections
  .sortable#sections
    - f.object.sections.order(:order).each.with_index do |section,index|
      = f.simple_fields_for :sections, section do |fs|
        = render 'section_fields', f: fs, dependency_enabled: true

  %h4 Completion Message
  = f.input :completion_content

  .actions
    = f.submit 'Save Form', class: 'btn btn-block btn-primary'
