= minimal_form_for [:admin, @form] do |f|
  - if @form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@form.errors.count, "error")} prohibited this admin_form from being saved:"
      %ul
        - @form.errors.full_messages.each do |message|
          %li= message

  = f.input :name
  = f.input :description
  %h4 Sections
  = f.simple_fields_for :sections do |fs|
    #sections
      = render 'section', fs: fs

  %h4 Completion Message
  = f.input :completion_content

  .actions
    = f.submit 'Save Form', class: 'btn btn-block btn-primary'
