.question_dependency{ id: "#{unique_dom_id(f)}" }
  = f.input_field :id, as: 'hidden'
  = f.input_field :question_id, as: 'hidden'
  = render 'add_question', f: f, association: :question,
    collapse: false, dependency_enabled: false,
    selector: "##{unique_dom_id(f)}_add_question",
    insert_method: 'replaceWith'
