.card.nested-fields{ id: f.object.sortable_id }
  .card-body
    = f.input_field :id, as: 'hidden'
    .actions
      = link_to "##{unique_dom_id(f)}_content", title: 'collapse',
        class: 'btn btn-primary collapsed', data: { toggle: 'collapse' },
        'aria-expanded': 'false',
        'aria-controls': "#{unique_dom_id(f)}_content" do
        = icon 'fas', 'minus'
      = link_to_remove_association f, { title: 'delete',
        class: 'btn btn-primary' } do
        = icon 'fas', 'times'
    = f.input :name, as: :string, wrapper_html: { class: 'mb-0' }
    .content.collapse.mt-3{ id: "#{unique_dom_id(f)}_content" }
      = f.input :content
      - if f.object.questions.present?
        .sortable{ id: "#{unique_dom_id(f)}_questions" }
          - f.object.questions.order(:order).each.with_index do |question,q_index|
            = f.simple_fields_for :questions, question do |fq|
              = render 'question_fields', f: fq,
                question_type: fq.object.question_type,
                dependency_enabled: dependency_enabled
      = link_to 'Add Question', "##{unique_dom_id(f)}_add_question",
        title: 'Add Question', class: 'btn btn-primary text-white collapsed',
        data: { toggle: 'collapse' }, 'aria-expanded': 'false',
        'aria-controls': "#{unique_dom_id(f)}_add_question"
      = render 'add_question', f: f, association: :questions,
        collapse: true, dependency_enabled: dependency_enabled,
        selector: "##{unique_dom_id(f)}_questions > .card:last-of-type",
        insert_method: 'after'
    .btn.btn-link.text-white.handle
      = icon 'fas', 'grip-horizontal', class: 'fa-2x'
