.card
  .card-body
    = fs.input_field :id, as: 'hidden'
    .actions
      = link_to "#section_#{fs.object.id}", title: 'collapse',
        class: 'btn btn-primary collapsed', data: { toggle: 'collapse' },
        'aria-expanded': 'false',
        'aria-controls': "section_#{fs.object.id}" do
        = icon 'fas', 'minus'#, class: 'fa-fw'
      = link_to '#', title: 'delete', class: 'btn btn-primary' do
        = icon 'fas', 'times'#, class: 'fa-fw'
    = fs.input :name, as: :string, wrapper_html: { class: 'mb-0' }
    .content.collapse.mt-3{ id: "section_#{fs.object.id}" }
      = fs.input :content
      = fs.simple_fields_for :questions do |fq|
        %div{ id: "#section_#{fs.object.id}_questions" }
          = render 'question', fq: fq
      = render 'add_question', fs: fs
