.float-right= link_to 'New Form', new_admin_form_path,
  class: "btn btn-sm btn-primary mt-3 mb-2"

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Updated At
      %th Created At
      %th

  %tbody
    - @forms.each do |form|
      %tr
        %th{scope: 'row'}
          = link_to form.name, admin_form_path(form), title: 'show'
        %td= form.description
        %td= form.updated_at.to_s(:long)
        %td= form.created_at.to_s(:long)
        %td.text-right
          %span.mx-1
            = link_to admin_form_path(form), title: 'show' do
              = icon 'fas', 'search'
          %span.mx-1
            = link_to edit_admin_form_path(form), title: 'edit' do
              = icon 'fas', 'edit'
          %span.mx-1
            = link_to admin_form_path(form), method: :delete, title: 'delete',
              data: { confirm: 'Are you sure?' } do
              = icon 'fas', 'times', class: 'text-danger'
